*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:after,
*:before{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
}
/********header*******/
.box{
    background-color: #eff0f2;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
    grid-template-rows:repeat(4, 2fr);
    max-height: 930px;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
} 


.logo{
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 150px;
} 

.logo-img{
    display: block;
    border: 5px solid black;
}

.menue{
    grid-column: 5/6;
    grid-row: 1/2;
    padding-right: 150px;
    
} 

.glass{
    display: grid;
    grid-column: 4/5;
    grid-row: 4/5;
    align-self: start;
    
}



.title{
    display: block;
    grid-column: 1/-1;
    grid-row: 2/4;
    font-size: 45px;
    color: #505050;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
} 

.colotext{
    background-color: #76f4ea;
}

.coloragency{
    background-color: #76f4ea;
    
}

.btn{
    grid-column: 2/4;
    grid-row: 3/5;
    border: 3px solid #505050 ;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    color: #000000;
    font-weight: 400;  
    max-width: 250px; 
    padding: 18px 46px;
    justify-self: center;

    } 
.btn-contact{
    text-decoration: none;
}

/***********about us***/

.abous__us{
    background-color: #f8fafa;
   padding-bottom: 5%;
} 

.about-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
} 

.title__info{
    font-size: 38px;
    letter-spacing: 2px;
    color: #000000;
    font-weight: 700; 
    text-transform: uppercase;
}

.subtitle__info{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;
}

.wraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0% 15%;
    column-gap: 10px ;
    position: relative;
    justify-content: space-around;
} 

.about__img{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/1;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    
} 

.about__info{
    padding-right: 5%;
    grid-column: 2/3;
    grid-row: 1/1;
    

} 
.info-img{
    display: block;
    position: absolute;
    left: 23%;
    top: -12%;
    
}
.info__title{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 2%;
} 

.info__title p{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family:"Raleway";
    text-transform: none;
    padding: 2% 0;
}

.info__subtitle{
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 28px;
    font-weight: 700;
    padding-bottom: 2%;
    text-transform: uppercase;
}

.info__subtitle p{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family:"Raleway";
    text-transform: none;
}

.dot{
    display: block;
    padding-top:12% ;
    overflow: hidden;
    padding-left: 8%;
}
    
/*******fetured works********/



.gallery{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    border: 2px solid red;
    justify-content: center;
    gap: 15px;
}








/********our services*********/
.services{
    background-color: #f9fbfb;
    padding: 2% 4%;
    }

.services__wraper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: minmax(auto, 420px) minmax(auto, 370px) minmax(auto, 370px);
    max-width: 1140px;
    margin: 0 auto;
    gap: 15px;
}

.services__item{
    background-image: url(../img/sheets.jpg);
    grid-column: 2/3;
    grid-row: 1/2;
    background-size: cover;
   
}



.design{
    display: flex;
    background-image: url(../img/black.jpg);
    min-height: 420px;
    opacity: 80%;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    padding: 3% 6%;
}


.cool__design{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 29px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-family: "Merriweather";
    margin-top: 35%;
    margin-bottom: 5%;
}

.design__info{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
    padding-bottom: 10%;
}  

.know__more a{
    
    font-size: 18px;
    letter-spacing: 1px;
    color: #f9fbfb;
    font-weight: 500;
    font-family: "Raleway";
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

}

.item__first{
    background-image: url(../img/backgroundaquva.jpg);
    background-size: cover;
    padding: 6% 12%;
}

.first__text h4{
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #000000;
    font-weight: 700;
    font-family: "Merriweather";
    padding-bottom: 10%;
    text-transform: uppercase;

}

.first__text p{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #000000;
    font-weight: 400;
    font-family: "Raleway";
}

.item__third{
    background-image: url(../img/laptop.jpg);
    grid-column: 1/2;
    grid-row: 2/3;
    
}

.design__laptop{
    background-image: url(../img/black.jpg);
    min-height: 370px;
    opacity: 80%;
    padding: 22% 5% 5% 10%;
}

.cool{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Merriweather";
    text-transform: uppercase;
    padding-bottom: 2%;
}

.design__text{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
    
}

.new{
    padding-top: 10%;
    
}



.mac{
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(../img/mac.jpg);
    background-position: right;

}

.small{
    min-height: 370px;
    background-image: url(../img/black.jpg);
    opacity: 80%;
}


.bottles{
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(../img/bootle__blue.jpg);
    background-repeat: no-repeat;
    min-width: 650px;
    background-size: cover;
}

.cups {
    grid-column: 2/3;
    grid-row: 3/4;
    background-image: url(../img/cups.jpg);
    background-position: left;
}

