*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:after,
*:before{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Karla', sans-serif;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6
{
    margin: 0;
}

/*********header*********/
.box{
    background-color: #E3EEF8;;
    padding:2rem 2rem 8rem 2rem;
}
.wrapper{
    max-width: 68.75rem;
    margin: 0 auto;
    
}




.wrapper-header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8rem;
} 

.header{
    display: flex;
    align-items: center;
    
} 

.logo{
    display: flex;
    margin-right: 2rem;
    align-items: center;
} 

.logo-img{
    margin-right: 1rem;
} 

.logo-text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -1px;
    color: #1F1F1F;
   
}

.nav__list{
    display: flex;
} 

.nav__item{
    list-style: none;
    margin-right: 2rem;
} 

.nav-link{
    text-decoration: none;
    font-size: 1rem;
    line-height: 19px;
    letter-spacing: -0.4px;
    color: #1F1F1F;
} 
  
.btn__link{
    padding: 0.7rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.18rem;
    text-align: center;
    letter-spacing: -1px;
    color: #258AFF;
    border: 2px solid #258AFF;
    background: transparent;
    transition: background-color 300ms linear, border-color 300ms linear, color 200ms linear;
} 
.btn__link:hover{
    background-color: wheat;
    border-color:tomato;
    color: purple;
}



.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 38.75rem;
    margin: 0 auto;
} 

.title-info{
    text-align: center;
}

.title__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.title-text{
    font-weight: bold;
    font-size: 0.938rem;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 1.5rem;
} 

.head-title{
    font-weight: bold;
    font-size: 4.375rem;
    line-height: 4.375rem;
    text-align: center;
    letter-spacing: -4px;
    color: #1F1F1F;
    margin-bottom: 1.5rem;
} 

.subtitle{
    font-size: 1.313rem;
    line-height: 2.25rem;
    text-align: center;
    letter-spacing: -0.4px;
    color: #666666;
    margin-bottom: 1.5rem;
} 

.email{
    padding: 1rem 3rem 1em 0.5rem;
    border: none;
    margin-right: 10px;
    border-radius: 3px;
    transition: border-color 250ms linear;
} 

.email:focus,
.email:hover,
.email:active{
    border:1px solid tomato;
}


.btn-orange{
    padding: 0.8rem 4rem;
    background: #FC593B;
    border: none;
    color: white;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.9px;
    border-radius: 5px;
    transition: background-color 250ms linear, color 250ms linear;
}

.btn-orange:hover{
    background-color: rgb(43, 205, 226);
    color: purple;
}




.customers{
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.32381px;
    color: #878B90;
}




.block{
        display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8rem;
}

.block__item{
    display: flex;
}

.block__text{
    max-width: 278px;
}

.block__img{
    margin-right: 1rem;
}


.block__text p:first-child{
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -1px;
    color: #000000;
}

.block__text p:last-child{
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #666666;
}    

/*****phone*******/

.phone{
    background: #258AFF;
    padding:8rem;
} 

.wrapper-phone{
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
} 



.mobile:hover{
    transform: rotate(-9deg);
}

.app{
    padding: 10rem 4rem 4rem 3rem; 
}


.app-design{
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 3rem;
} 

.app__title{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.52632px;
    color: #FFFFFF;
    margin-bottom: 1rem;
} 

.app-subtitle{
    font-size: 18px;
    line-height: 32px;
    color: #E4E4E4;
    margin-bottom: 3rem;
}

.btn-orange--white{
    background-color: white;
    color:#258AFF;
}


/*********users******/

.users{
    background:#E3EEF8; 
    padding: 8rem;

}

.users-wrapper{
    max-width: 69.375rem;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid white;
    padding-bottom: 4rem;
}

.mobile--bitmap:hover{
    transform: none;
}

.block__item-wrapper{
    display: flex;
    justify-content: space-between;
}
.block__item--vertical{
    display: flex;
    flex-direction: column;
}

.app--padding{
    padding-top:0;
    padding-right: 6rem;
    padding-left: 0rem;
}

.app-desing--blue{
    color:#258AFF;
}

.app__title--black{
    color:#1F1F1F;
    padding-right: 7rem;
    margin-bottom: 2rem;
}

.app-sutitle--grey{
    color:#666666;
    padding-right: 7rem;
    margin-bottom:6rem;
}

.block__text--small{
    padding-right: 3rem;
}

.block__img{
    margin-bottom: 3rem;
}




/********story*******/

.story{
    background-color: #E3EEF8;
    padding-bottom: 5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    
    
    
}

.story-wrapper{
    max-width: 69.375rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.story__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:18.75rem 1.875rem 1.875rem 18rem 1.875rem;
    column-gap: 1.8rem;
}


.grid__item{
    background-color: white;
    
    
}

.grid__item:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 2rem;
    
}

.grid__item:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 2rem; 
    
}

.grid__item:nth-child(3){
    grid-column: 1/2;
    grid-row: 4/6;
    padding: 2rem;
    
   
}

.grid__item:nth-child(4){
    grid-column: 2/3;
    grid-row: 3/5;
    padding: 2rem;
    
}

.item-text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: -0.1px;
    color: #1F1F1F;
    margin-bottom: 1rem;
}

.item__foto{
    display: flex;

}

.foto{
    margin-right: 1rem;
}

.info p:first-child{
    font-weight: bold;
    font-size: 1.063rem;
    line-height: 1.75;
    letter-spacing: -0.31875px;
    color: #1F1F1F;
}

.info p:last-child{
    font-size: 0.938rem;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: #666666;
}

.app__title--padding{
    padding-right: 0;
}
.app-subtitle--padding{
    padding-right:0;
}

.app--small{
    padding-right: 2rem;
    padding-top:12rem;
}

.icons{
    display:flex;
    max-width: 69.375rem;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 3rem;
}

.icons-img img{
    mix-blend-mode: luminosity;
    opacity: 0.5;
}


/*******service*********/

.service{
    background: #192F48;
    background-blend-mode: multiply, normal;
    padding-top: 5rem;
    padding-bottom: 9rem;
} 

.service-wrapper{
    max-width: 45.625rem;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
}

.service__title{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
} 

.service__title p{
    font-weight: bold;
    font-size: 0.938rem;
    line-height: 1.125rem;
    text-align: center;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.service__title h4{
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    letter-spacing: -2.52632px;
    color: #FFFFFF;
}

.service__block{
    
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    
} 

.service__item{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 21.875rem;
    background: #2B405A;
    border-radius: 6px;
}

.service__item--white{
    background-color: white;
}


.service__text p:nth-child(1){
    font-weight: bold;
    font-size: 0.813rem;
    line-height: 2rem;
    letter-spacing: 0.433333px;
    text-transform: uppercase;
    color: #E5E5E5;
    margin-bottom: 2rem;
}

.cost span:nth-child(1){
    font-weight: bold;
    font-size:1.875rem;
    line-height: 2.188rem;
    letter-spacing: -1.2px;
    color: #FFFFFF;
    vertical-align:top;
}

.cost span:nth-child(2){
   
    font-weight: bold;
    font-size: 3.125rem;
    line-height: 3.75rem;
    letter-spacing: -2px;
    color: #FFFFFF;
   
}

.cost span:nth-child(3){
    font-weight: bold;
    font-size: 1.063rem;
    line-height: 1.25rem;
    letter-spacing: -0.68px;
    color: #FFFFFF;
}

.service__text p:nth-child(3){
    font-size: 0.875rem;
    line-height: 1.438rem;
    letter-spacing: -0.4px;
    color: #E5E5E5;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


.description{
    display: flex;
    flex-direction: column;
   
} 

.description__item{
    display: flex;
    align-items: center;
}


.description__img{
    margin-right: 0.5rem;
} 


.description__text{
    font-size: 1.063rem;
    line-height: 2rem;
    letter-spacing: -0.425px;
    color: #FFFFFF;
    
}

.description__text--grey{
    color: #878B90;
    text-decoration: line-through;
}

.btn-orange--small{
    padding: 0.8rem 3.2rem;
    margin-top: 2rem;
    background:#258AFF;
    margin-bottom: 1rem;
}

.service__item p{
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: -0.4px;
    color: #878B90;
}

.pro{
    color: #666666;

}

.service__text--black p:nth-child(3){
    color: #666666;
}


.cost--black span:nth-child(1){
    color: #1F1F1F;
}

.cost--black span:nth-child(2){
       color: #1F1F1F;
}

.cost--black span:nth-child(3){
    color: #1F1F1F;
}

.description__text--black{
    color: #1F1F1F;
}

.btn-orange--small--last{
    background: #FC593B;
}

.popular__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.7rem;
}

.popular{
    text-decoration: none;
    background-color: #4EAB08;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.938rem;
    letter-spacing: -0.514286px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding:0.5rem 1rem;
    border-radius: 0.813rem;
    transition: background-color 300ms ease-out, color 300ms ease-out ;
}

.popular:hover{
    background-color:rgb(25, 0, 255);
    color: tomato;
}